.cursor {
    width: 25px;
    height: 25px;
    position: fixed;
    background-color: #10100E;
    border-radius: 50%;
    opacity: 0.5;
    border: solid  #D5D4D3;


    display: flex;
    justify-content: center;
    align-items: center;
    
    /* to avoid jitter of cursor */
    z-index: 9;
    pointer-events: none;



}